<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:org/springframework/beans/factory/xml/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context classpath:org/springframework/context/config/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop classpath:org/springframework/aop/config/spring-aop-3.0.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans">
	<import resource="dubbo.xml"/>
<!-- 	<import resource="dubbo_provider.xml"/> -->
	<context:component-scan base-package="com.web.foo" />
	
</beans>
