<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<!-- servlet test -->
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.web.foo.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test.servlet</url-pattern>
	</servlet-mapping>

	<!-- listener test -->
	<listener>
		<listener-class>com.web.foo.listener.TestListener</listener-class>
	</listener>

	<!-- freemarker test -->
	<servlet>
		<servlet-name>freemarkerServlet</servlet-name>
		<servlet-class>com.web.foo.servlet.FreemarkerTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>freemarkerServlet</servlet-name>
		<url-pattern>/freemarker.servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>freemarker</servlet-name>
		<servlet-class>
			freemarker.ext.servlet.FreemarkerServlet
		</servlet-class>
		<init-param>
			<param-name>TemplatePath</param-name>
			<param-value>/WEB-INF/template</param-value>
		</init-param>
		<init-param>
			<param-name>NoCache</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ContentType</param-name>
			<param-value>text/html; charset=UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>template_update_delay</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>default_encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>number_format</param-name>
			<param-value>0.##########</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>freemarker</servlet-name>
		<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>

	<!-- spring test -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>

	<!-- struts test -->
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
